<div class="container">
	<header class="jumbotron hero-spacer opacity">
	<font color="white">
	    <h1>Thank you for your registration.</h1>
	    <p>Your account is currently being approved. When it is approved we will send you an email with instructions.</p>
	    <p><a class="btn btn-primary btn-large" href="/">Continuar</a>
	    </p>
	</header>
</div>