<div class="container">
	<header class="jumbotron hero-spacer opacity">
	<font color="white">
	    <h1>Gracias por registrarte.</h1>
	    <p>Tu cuenta está en proceso de aprovación, cuando sea aprovada te enviaremos un correo con instrucciones.</p>
	    <p><a class="btn btn-primary btn-large" href="/">Continuar</a>
	    </p>
	</header>
</div>